* {
  box-sizing: border-box;
}

html, body, #__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-segoe-ui);
}

html {
  font-size: 16px;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input, textarea, select {
  font-family: inherit;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}