.auth-card {
  max-width: 400px;
  width: 80%;
  padding: 1.75rem;
  background-color: var(--dark-blue);
  border: 2px solid var(--cyan);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.auth-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--cyan);
  text-align: center;
  margin-top: 0;
  width: 100%;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid var(--cyan);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.auth-links {
  color: var(--gray);
  text-align: center;
  font-size: 1rem; 
  font-weight: 400;
}

.auth-links a {
  color: var(--cyan);
  text-decoration: none;
  font-weight: 500;
}

.auth-links a:hover {
  text-decoration: underline;
}
