.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
  text-align: left;
}

.form-input {
  padding: 0.75rem;
  font-size: 0.75rem;
  background-color: var(--charcoal-grey);
  border: 2px solid var(--cyan);
  border-radius: 10px;
  color: var(--white);
  transition: border-color 0.2s, box-shadow 0.2s;
  width: 100%;
}

.form-input::placeholder {
  color: var(--sesame-grey);
}

.form-input:focus {
  border-color: var(--cyan);
  box-shadow: 0 0 0 2px var(--cyan-40);
}

.form-input--error {
  border-color: var(--red);
}

.form-input--error:focus {
  border-color: var(--red);
  box-shadow: 0 0 0 2px var(--red-30);
}

.form-error {
  color: var(--red);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}