.page-center {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  min-height: 100%; 
}

.page-center-horizontal {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  min-height: 100%;
}

.page-center-vertical {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 100%;
  min-height: 100%;
}

.page-content {
  width: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
}

.vertical-container-center{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}

.main-bg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--charcoal-grey);
}