.sweeper-container{
  flex: 0.6;
  align-items: center;
}
.sweeper-wrapper {
  background: var(--dark-blue);
  border: 2px solid var(--cyan);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  opacity: 1;
  position: relative; 
  width: fit-content; 
  margin: 0 auto;
}
.overlay-sweeper {
  position: absolute;
  left: 0; top: 0;
  background: var(--charcoal-grey-70);
  z-index: 1;
  pointer-events:fill;
  border-radius: 16px;
}
.overlay-text {
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 900;
  color: var(--cyan);
}
.cells-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0;
  width: 100%;
}
.cell {
  width: 11vmin;
  max-width: 5rem;
  min-width: 2.5rem;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--cyan);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.cell:not(.openedGood):not(.openedBad):hover {
  background: var(--cyan);
}
.openedGood {
  background: var(--green);
  border-color: var(--green);
  cursor: default;
}
.openedBad {
  background: var(--red);
  border-color: var(--red);
  cursor: default;
}