.user-summary {
    flex: 0 0 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1.5rem;
    background-color: var(--dark-blue);
    border: 2px solid var(--cyan);
    border-radius: 16px;
}
.icon-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: baseline;
    width: 100%;
}
.user-icon {
    grid-column: 2;
    justify-self: center;
    color: var(--cyan);
    cursor: pointer;  
    align-items: center;
    justify-content: center;
}
.edit-icon {
    grid-column: 3;
    justify-self: end;
    cursor: pointer;
    --icon-bg: var(--dark-blue);    
    --icon-border: var(--cyan);  
    --icon-stroke:var(--cyan);
}
.edit-icon:hover {
    --icon-bg: var(--cyan);      
    --icon-stroke:var(--charcoal-grey); 
}
.full-width-label {
    display: block; 
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray);
    background-color: var(--charcoal-grey);
    border: 2px solid var(--cyan);
    border-radius: 10px;
    text-align: center;
}
.text-gray {
  color: var(--gray);
  font-size: 1.125rem;
  cursor: default;
}
.text-gray-link {
    color: var(--gray);
    font-size: 1.125rem;
    cursor: pointer;
}
.text-gray-link:hover {
    text-decoration: underline;
}
.number {
  font-weight: 600;
  font-size: 1.125rem;
  cursor: default;
}
.game-link{
    color: var(--cyan);
    font-size: 1rem;
    cursor: pointer;
}
.game-link:hover{
    text-decoration: underline;
}
.stats-section {
    display: block; 
    width: 100%;
    box-sizing: border-box; 
}
.stats-header {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: var(--gray);
}
.expand-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    color: var(--gray);
}
.expand-icon {
    width: 20px;
    height: 20px;
}
.stats-list {
    margin-top: 0.75rem;
    list-style: none;
    border: 2px solid var(--cyan);
    border-radius: 10px;
    padding: 1rem 1.25rem;
    background-color: var(--charcoal-grey);
    color: var(--gray);
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.logout-link {
    color: var(--gray);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}
.logout-link:hover {
    text-decoration: underline;
}
.delete-link {
    color: var(--red);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}
.delete-link:hover {
    text-decoration: underline;
}