.overlay {
  position: fixed;
  inset: 0;
  background: var(--charcoal-grey-80);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.modal {
  display: flex;
  flex-direction: column;
  background: var(--dark-blue);
  padding: 1.625rem;
  border-radius: 16px;
  border: 2px solid var(--cyan);
  width: 400px;
  gap: 1.5rem;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cyan);
  margin: 0;
}

.close-icon {
  width: 26px;
  height: 26px;
  color: var(--gray);
  cursor: pointer;
  transition: color 0.2s;
}

.close-icon:hover {
  color: var(--sesame-grey);
}