.wheel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.wheel-cell {
  width: 20vmin;
  max-width: 11rem;
  min-width: 7rem;
  aspect-ratio: 1 / 1;
  border: 3px solid var(--cyan);
  border-radius: 1rem;
  background: var(--charcoal-grey);
  display: flex;
  justify-content: center;
  align-items: center; 
}
.payments {
  background: var(--charcoal-grey);
  width: 100%;
  aspect-ratio: 2.5 / 1;
  padding: 1.25rem;
  padding-top: 1rem;
  border: 2px solid var(--cyan);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.conditions {
  width: 100%;
  aspect-ratio: 3 / 1;
  display: flex;
  gap: 1.25rem;
}
.sub-title {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}
.cond-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  height: 100%;
}
.condition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.25rem;
  background: var(--dark-blue);
  border-radius: 0.5rem;
  align-items: center;
  width: 100%;
  height: 100%;
}
.coef {
  font-size: 1.25rem;
  font-weight: 700;
}
.combo {
  aspect-ratio: 3 / 1;
}